In [156]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from datetime import time

import os

In [157]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 0)

In [158]:
file = "diy_mco_14-May'25.csv"
raw_data=pd.read_csv(file,low_memory=False,memory_map=True)
data=pd.read_csv("format.csv",memory_map=True)
table_data=pd.read_csv("table_data.csv",memory_map=True)

In [159]:
raw_data.head(3)

,cust_id,lead_id,fse_cust_id,workflow_node_id,sub_stage,created_at,updated_at,solution_type_level_2,solution_type_level_3,entity_type,products_context,sbstage_count,name_match_status,mid,mid_creation_date,agent_team,qc_pending_max_created,panelqc_max_created,final_timestamp,first_qc_pending_min_created,sub_stage1
0,666081567,9c5f55fe-24a4-4178-9394-e0794c009eaa,666081567,156,LEAD_SUCCESSFULLY_CLOSED,2025-05-14 00:21:40.000,2025-05-14 08:56:27.000,NaN,NaN,INDIVIDUAL,NaN,"{""PANEL_SUCCESS"":1}",True,jCTxSJ94279835497787,2025-05-14 08:51:03.000,NaN,2025-05-14 00:34:38.000,2025-05-14 08:50:56.000,2025-05-14 08:50:56.000,2025-05-14 00:34:38.000,NaN
1,1514813008,7e032624-629e-4cc0-8205-b89186fe4c00,1514813008,156,LEAD_SUCCESSFULLY_CLOSED,2025-05-13 17:45:32.000,2025-05-13 17:53:47.000,business_name_update,NaN,INDIVIDUAL,NaN,"{""PANEL_SUCCESS"":1}",True,WYaqhN31525914053720,2025-02-18 13:52:05.000,NaN,2025-05-13 17:48:45.000,2025-05-13 17:53:26.000,2025-05-13 17:53:26.000,2025-05-13 17:48:45.000,NaN
2,1271751704,119b4601-12f2-4e0c-86a6-a54eacc783b7,1271751704,156,LEAD_SUCCESSFULLY_CLOSED,2025-05-02 16:46:30.000,2025-05-02 17:11:21.000,NaN,NaN,INDIVIDUAL,NaN,"{""PANEL_SUCCESS"":1}",True,xHlWyj89555579387128,2025-05-02 16:56:41.000,NaN,2025-05-02 16:54:29.000,2025-05-02 16:56:29.000,2025-05-02 16:56:29.000,2025-05-02 16:54:29.000,NaN

In [160]:

raw_data.insert(5,'q',0)

In [161]:
table_map = table_data.set_index('NODE ID')['Lead Status'].to_dict()
raw_data['q'] = raw_data['workflow_node_id'].map(table_map)

raw_data['q'].unique()

array(['Merchant Live', nan, 'Documents Rejected (Pending at Sales Team)',
       'Lead stuck in Intermediate Stages (Dedupe/Risk/PG rejections) ',
       'Lead Created/Posted (Pending at Sales team for  Document Upload)',
       'Leads Rejected in Risk Review'], dtype=object)

In [162]:
raw_data.loc[raw_data['sub_stage1']=='QC_AUTO_APPROVED','q']='Leads QC Auto Approved'

raw_data['q'].unique()

array(['Merchant Live', nan, 'Documents Rejected (Pending at Sales Team)',
       'Lead stuck in Intermediate Stages (Dedupe/Risk/PG rejections) ',
       'Leads QC Auto Approved',
       'Lead Created/Posted (Pending at Sales team for  Document Upload)',
       'Leads Rejected in Risk Review'], dtype=object)

In [163]:
raw_data['sub_stage1'].value_counts()

sub_stage1
QC_AUTO_APPROVED    178
Name: count, dtype: int64

In [164]:
#raw_data.loc[raw_data['sub_stage1']=='QC_AUTO_APPROVED','q']='Leads QC Auto Approved'

In [165]:
raw_data=raw_data.dropna(subset=['q'])

raw_data['q'].value_counts()

q
Merchant Live                                                       40635
Documents Rejected (Pending at Sales Team)                           7546
Lead stuck in Intermediate Stages (Dedupe/Risk/PG rejections)         212
Leads QC Auto Approved                                                178
Lead Created/Posted (Pending at Sales team for  Document Upload)       35
Leads Rejected in Risk Review                                           1
Name: count, dtype: int64

In [166]:
raw_data['remove_date']=raw_data['updated_at'].copy()

raw_data['remove_date'] = pd.to_datetime(raw_data['remove_date'])

raw_data['remove_date'] = raw_data['remove_date'].dt.strftime('%Y-%m-%d')

raw_data['remove_date'] = pd.to_datetime(raw_data['remove_date'])

In [167]:

current_timestamp = pd.Timestamp.now().normalize()

raw_data=raw_data[raw_data['remove_date']!=current_timestamp]

In [168]:
raw_data=raw_data.drop(columns=['remove_date'])
len(raw_data)

47222

In [169]:
raw_data['solution_type_level_2'].unique()

array(['business_name_update', nan, 'pan_addition', 'display_name_update',
       'diy_upgrade', 'ybl_rekyc_update', 'billing_address_update',
       'auth_signatory_update', 'registered_address_update', 'gst_update',
       'diy_edc'], dtype=object)

In [170]:
raw_data=raw_data[raw_data['solution_type_level_2'].isin(['diy_upgrade','']) | raw_data['solution_type_level_2'].isna()]
len(raw_data)

21229

In [171]:
raw_data['solution_type_level_2'].unique()

array([nan, 'diy_upgrade'], dtype=object)

In [172]:
print(len(raw_data))
raw_data.head(3)

21229

,cust_id,lead_id,fse_cust_id,workflow_node_id,sub_stage,q,created_at,updated_at,solution_type_level_2,solution_type_level_3,entity_type,products_context,sbstage_count,name_match_status,mid,mid_creation_date,agent_team,qc_pending_max_created,panelqc_max_created,final_timestamp,first_qc_pending_min_created,sub_stage1
2,1271751704,119b4601-12f2-4e0c-86a6-a54eacc783b7,1271751704,156,LEAD_SUCCESSFULLY_CLOSED,Merchant Live,2025-05-02 16:46:30.000,2025-05-02 17:11:21.000,NaN,NaN,INDIVIDUAL,NaN,"{""PANEL_SUCCESS"":1}",True,xHlWyj89555579387128,2025-05-02 16:56:41.000,NaN,2025-05-02 16:54:29.000,2025-05-02 16:56:29.000,2025-05-02 16:56:29.000,2025-05-02 16:54:29.000,NaN
5,1470262724,bc20cc50-1e0d-4120-96ac-cfac7dc6f96e,1470262724,2099,PARTNER_PROFILE_CREATION_FAILURE,Merchant Live,2025-02-08 10:39:49.000,2025-05-09 09:22:42.000,NaN,NaN,INDIVIDUAL,NaN,"{""PANEL_SUCCESS"":1}",True,kJQCIh52247256207007,2025-05-09 09:22:17.000,NaN,2025-05-09 07:58:46.000,2025-05-09 09:22:11.000,2025-05-09 09:22:11.000,2025-05-09 07:58:46.000,NaN
9,1011269238,e06bd72c-1a41-4503-afc0-a74a348238c6,1011269238,156,LEAD_SUCCESSFULLY_CLOSED,Merchant Live,2025-05-04 17:02:19.000,2025-05-04 17:11:35.000,diy_upgrade,rekyc,INDIVIDUAL,NaN,"{""PANEL_SUCCESS"":1}",True,kAoRVp44007196228095,2022-09-06 13:23:47.000,NaN,2025-05-04 17:02:53.000,2025-05-04 17:11:20.000,2025-05-04 17:11:20.000,2025-05-04 17:02:53.000,NaN

In [173]:
raw_data.columns

Index(['cust_id', 'lead_id', 'fse_cust_id', 'workflow_node_id', 'sub_stage',
       'q', 'created_at', 'updated_at', 'solution_type_level_2',
       'solution_type_level_3', 'entity_type', 'products_context',
       'sbstage_count', 'name_match_status', 'mid', 'mid_creation_date',
       'agent_team', 'qc_pending_max_created', 'panelqc_max_created',
       'final_timestamp', 'first_qc_pending_min_created', 'sub_stage1'],
      dtype='object')

In [174]:
data.columns

Index(['Merchant Cust ID', 'Lead_ID', 'Entity_Type', 'Node_id', 'Lead_Stage',
       'Lead Status', 'Created Timestamp', 'Updated Timestamp', 'Ageing',
       'Product_Context', 'Name_Match_Status', '10K/1rs MID Status',
       'Final TimeStamp', 'QC Panel Successful TimeStamp',
       'Last QC Pending Timestamp', 'TAT', 'Merchant QC TAT slab',
       'Working TimeSlab', 'New Off Time', 'New Last QC Pending Time',
       'Stage movement count', 'Rejection Ageing', 'cust_id', 'agent_team',
       'mid', 'mid_created_date', 'solution_type_level_3', 'solution_type'],
      dtype='object')

In [175]:
data[['Merchant Cust ID', 'Lead_ID', 'Entity_Type', 'Node_id', 'Lead_Stage',
       'Lead Status', 'Created Timestamp', 'Updated Timestamp',
       'Product_Context', 'Name_Match_Status',
       'Final TimeStamp', 'QC Panel Successful TimeStamp',
       'Last QC Pending Timestamp',
       'Stage movement count', 'cust_id', 'agent_team',
       'mid', 'mid_created_date', 'solution_type_level_3','solution_type','first_qc_pending_min_created']]=raw_data[['cust_id', 'lead_id','entity_type','workflow_node_id', 'sub_stage',
       'q', 'created_at', 'updated_at','products_context','name_match_status','final_timestamp','panelqc_max_created','qc_pending_max_created','sbstage_count','fse_cust_id','agent_team','mid','mid_creation_date','solution_type_level_2','solution_type_level_3','first_qc_pending_min_created']]
       
len(data)

21229

In [176]:
data.head(3)

,Merchant Cust ID,Lead_ID,Entity_Type,Node_id,Lead_Stage,Lead Status,Created Timestamp,Updated Timestamp,Ageing,Product_Context,Name_Match_Status,10K/1rs MID Status,Final TimeStamp,QC Panel Successful TimeStamp,Last QC Pending Timestamp,TAT,Merchant QC TAT slab,Working TimeSlab,New Off Time,New Last QC Pending Time,Stage movement count,Rejection Ageing,cust_id,agent_team,mid,mid_created_date,solution_type_level_3,solution_type,first_qc_pending_min_created
2,1271751704,119b4601-12f2-4e0c-86a6-a54eacc783b7,INDIVIDUAL,156,LEAD_SUCCESSFULLY_CLOSED,Merchant Live,2025-05-02 16:46:30.000,2025-05-02 17:11:21.000,NaN,NaN,True,NaN,2025-05-02 16:56:29.000,2025-05-02 16:56:29.000,2025-05-02 16:54:29.000,NaN,NaN,NaN,NaN,NaN,"{""PANEL_SUCCESS"":1}",NaN,1271751704,NaN,xHlWyj89555579387128,2025-05-02 16:56:41.000,NaN,NaN,2025-05-02 16:54:29.000
5,1470262724,bc20cc50-1e0d-4120-96ac-cfac7dc6f96e,INDIVIDUAL,2099,PARTNER_PROFILE_CREATION_FAILURE,Merchant Live,2025-02-08 10:39:49.000,2025-05-09 09:22:42.000,NaN,NaN,True,NaN,2025-05-09 09:22:11.000,2025-05-09 09:22:11.000,2025-05-09 07:58:46.000,NaN,NaN,NaN,NaN,NaN,"{""PANEL_SUCCESS"":1}",NaN,1470262724,NaN,kJQCIh52247256207007,2025-05-09 09:22:17.000,NaN,NaN,2025-05-09 07:58:46.000
9,1011269238,e06bd72c-1a41-4503-afc0-a74a348238c6,INDIVIDUAL,156,LEAD_SUCCESSFULLY_CLOSED,Merchant Live,2025-05-04 17:02:19.000,2025-05-04 17:11:35.000,NaN,NaN,True,NaN,2025-05-04 17:11:20.000,2025-05-04 17:11:20.000,2025-05-04 17:02:53.000,NaN,NaN,NaN,NaN,NaN,"{""PANEL_SUCCESS"":1}",NaN,1011269238,NaN,kAoRVp44007196228095,2022-09-06 13:23:47.000,diy_upgrade,rekyc,2025-05-04 17:02:53.000

In [177]:
data['Updated Timestamp']=pd.to_datetime(data['Updated Timestamp'])
data['Created Timestamp']=pd.to_datetime(data['Created Timestamp'])
data['QC Panel Successful TimeStamp']=pd.to_datetime(data['QC Panel Successful TimeStamp'])

In [178]:
user_date = '2024-10-15'  # Example: YYYY-MM-DD format

# Convert the combined string into a datetime object
custom_timestamp = datetime.strptime(user_date, '%Y-%m-%d')

print(custom_timestamp)
print(type(custom_timestamp))

current_day = custom_timestamp.day
current_month = custom_timestamp.month
current_year = custom_timestamp.year

print(current_day)
print(current_month)
print(current_year)

2024-10-15 00:00:00
<class 'datetime.datetime'>
15
10
2024

In [179]:
current_date = datetime.now() - timedelta(days=7)
current_day = current_date.day
current_month = current_date.month
current_year = current_date.year
print(current_date)

data.loc[(data['Updated Timestamp'].dt.day>=current_day) &
         (data['Updated Timestamp'].dt.month==current_month) &
         (data['Updated Timestamp'].dt.year==current_year), 'Ageing']='Last 7 days'

2025-05-07 18:04:34.704814

In [180]:
current_date = datetime.now() - timedelta(days=1)
current_day = current_date.day
current_month = current_date.month
current_year = current_date.year
current_date

data.loc[(data['Updated Timestamp'].dt.day==current_day) &
         (data['Updated Timestamp'].dt.month==current_month) &
         (data['Updated Timestamp'].dt.year==current_year), 'Ageing']='Yesterday'

In [181]:
data['Ageing']=data['Ageing'].fillna('')

In [182]:
data['Ageing'].value_counts()

Ageing
Last 7 days    9775
               9549
Yesterday      1905
Name: count, dtype: int64

In [183]:


data.loc[data['Name_Match_Status']==True, ['Name_Match_Status', '10K/1rs MID Status']]=['Name Matched','10k MID created']

data.loc[data['Name_Match_Status']==False, ['Name_Match_Status', '10K/1rs MID Status']]=['Name Not Matched','1Rs MID created']

In [184]:
data['Name_Match_Status']=data['Name_Match_Status'].fillna('')

In [185]:
data['Name_Match_Status'].value_counts()

Name_Match_Status
Name Matched        18288
Name Not Matched     2941
Name: count, dtype: int64

In [186]:
data['Product_Context'].value_counts()

Series([], Name: count, dtype: int64)

In [187]:
data['mid_created_date']=pd.to_datetime(data['mid_created_date'],errors='coerce')

In [188]:
data['mid_created_date'].head(10)

2    2025-05-02 16:56:41
5    2025-05-09 09:22:17
9    2022-09-06 13:23:47
16   2025-05-10 14:02:42
17   2025-05-08 10:11:11
19   2025-05-12 08:29:58
24   2025-05-01 11:53:25
26   2022-01-24 14:04:48
27   2025-05-01 08:11:25
30   2025-05-08 11:21:02
Name: mid_created_date, dtype: datetime64[ns]

In [189]:
data.columns

Index(['Merchant Cust ID', 'Lead_ID', 'Entity_Type', 'Node_id', 'Lead_Stage',
       'Lead Status', 'Created Timestamp', 'Updated Timestamp', 'Ageing',
       'Product_Context', 'Name_Match_Status', '10K/1rs MID Status',
       'Final TimeStamp', 'QC Panel Successful TimeStamp',
       'Last QC Pending Timestamp', 'TAT', 'Merchant QC TAT slab',
       'Working TimeSlab', 'New Off Time', 'New Last QC Pending Time',
       'Stage movement count', 'Rejection Ageing', 'cust_id', 'agent_team',
       'mid', 'mid_created_date', 'solution_type_level_3', 'solution_type',
       'first_qc_pending_min_created'],
      dtype='object')

In [190]:
current_date = datetime.now() - timedelta(days=7)
current_day = current_date.day
current_month = current_date.month
current_year = current_date.year
print(current_date)

data.loc[ (data['Lead Status']== 'Documents Rejected (Pending at Sales Team)') & ((data['Updated Timestamp'].dt.day<current_day) &
         (data['Updated Timestamp'].dt.month==current_month) &
         (data['Updated Timestamp'].dt.year==current_year)), 'Rejection Ageing']='More Than 7 Days'

2025-05-07 18:04:34.888916

In [191]:
current_date = datetime.now() - timedelta(days=7)
current_day = current_date.day
current_month = current_date.month
current_year = current_date.year
current_date

data.loc[ (data['Lead Status']== 'Documents Rejected (Pending at Sales Team)') & ((data['Updated Timestamp'].dt.day>=current_day) &
         (data['Updated Timestamp'].dt.month==current_month) &
         (data['Updated Timestamp'].dt.year==current_year)), 'Rejection Ageing']='6-7 Days'

In [192]:
current_date = datetime.now() - timedelta(days=5)
current_day = current_date.day
current_month = current_date.month
current_year = current_date.year
current_date

data.loc[ (data['Lead Status']== 'Documents Rejected (Pending at Sales Team)') & ((data['Updated Timestamp'].dt.day>=current_day) &
         (data['Updated Timestamp'].dt.month==current_month) &
         (data['Updated Timestamp'].dt.year==current_year)), 'Rejection Ageing']='4-5 Days'

In [193]:
current_date = datetime.now() - timedelta(days=3)
current_day = current_date.day
current_month = current_date.month
current_year = current_date.year
current_date

data.loc[ (data['Lead Status']== 'Documents Rejected (Pending at Sales Team)') & ((data['Updated Timestamp'].dt.day>=current_day) &
         (data['Updated Timestamp'].dt.month==current_month) &
         (data['Updated Timestamp'].dt.year==current_year)), 'Rejection Ageing']='2-3 Days'

In [194]:
current_date = datetime.now() - timedelta(days=1)
current_day = current_date.day
current_month = current_date.month
current_year = current_date.year
current_date

data.loc[ (data['Lead Status']== 'Documents Rejected (Pending at Sales Team)') & ((data['Updated Timestamp'].dt.day==current_day) &
         (data['Updated Timestamp'].dt.month==current_month) &
         (data['Updated Timestamp'].dt.year==current_year)), 'Rejection Ageing']='Less Than 1 Day'

In [195]:
data['Rejection Ageing'].value_counts()

Rejection Ageing
More Than 7 Days    1684
2-3 Days             715
4-5 Days             597
6-7 Days             568
Less Than 1 Day      471
Name: count, dtype: int64

In [196]:
data['Rejection Ageing'].value_counts()

Rejection Ageing
More Than 7 Days    1684
2-3 Days             715
4-5 Days             597
6-7 Days             568
Less Than 1 Day      471
Name: count, dtype: int64

In [197]:
data.loc[~data['Entity_Type'].isin(['INDIVIDUAL','PROPRIETORSHIP']),'Entity_Type']='NON_PROPRIETORSHIP'

In [198]:
data['Entity_Type'].value_counts()

Entity_Type
INDIVIDUAL            19382
PROPRIETORSHIP         1840
NON_PROPRIETORSHIP        7
Name: count, dtype: int64

In [199]:
data.columns

Index(['Merchant Cust ID', 'Lead_ID', 'Entity_Type', 'Node_id', 'Lead_Stage',
       'Lead Status', 'Created Timestamp', 'Updated Timestamp', 'Ageing',
       'Product_Context', 'Name_Match_Status', '10K/1rs MID Status',
       'Final TimeStamp', 'QC Panel Successful TimeStamp',
       'Last QC Pending Timestamp', 'TAT', 'Merchant QC TAT slab',
       'Working TimeSlab', 'New Off Time', 'New Last QC Pending Time',
       'Stage movement count', 'Rejection Ageing', 'cust_id', 'agent_team',
       'mid', 'mid_created_date', 'solution_type_level_3', 'solution_type',
       'first_qc_pending_min_created'],
      dtype='object')

In [200]:
data['Lead Status'].value_counts()

Lead Status
Merchant Live                                                     16963
Documents Rejected (Pending at Sales Team)                         4035
Leads QC Auto Approved                                              166
Lead stuck in Intermediate Stages (Dedupe/Risk/PG rejections)        65
Name: count, dtype: int64

In [201]:
null_rejected_timeStamp=data[(data['Lead Status']=='Documents Rejected (Pending at Sales Team)')&(data['Last QC Pending Timestamp'].isnull())]


null_rejected_timeStamp=null_rejected_timeStamp[['Lead_ID']]

print(len(null_rejected_timeStamp))

null_rejected_timeStamp['id']="'" + null_rejected_timeStamp['Lead_ID'] + "'" + ","

null_rejected_timeStamp.head(3)

#null_rejected_timeStamp.to_csv("rejected_null.csv", index=False)

0

Empty DataFrame
Columns: [Lead_ID, id]
Index: []

In [202]:
# raise Exception("Stop execution here")

print(len(data))

21229

In [203]:
#rejected_null_value=pd.read_csv('rejected_null_value.csv')

#rejected_null_value['q']=pd.to_datetime(rejected_null_value['q'],format='%d-%m-%Y %H:%M:%S')

#print(rejected_null_value.columns)

In [204]:
#print(rejected_null_value.head(3))
print(len(data))

21229

In [205]:

# Aggregate the right DataFrame by taking the first occurrence per lead_id
#rejected_agg = rejected_null_value.groupby('lead_id').first().reset_index()

# Merge the DataFrames on the single column
#data = data.merge(rejected_agg[['lead_id', 'Status']], left_on='Lead_ID', right_on='lead_id', how='left')

# Fill in values based on conditions
#data.loc[(data['Lead Status'] == 'Documents Rejected (Pending at Sales Team)') & (data['Last QC Pending Timestamp'].isnull()), 'Last QC Pending Timestamp'] = data['q']

In [206]:
#data=data.merge(rejected_null_value,left_on='Lead_ID',right_on='lead_id',how='left')

#data.loc[(data['Lead Status']=='Documents Rejected (Pending at Sales Team)') & (data['Last QC Pending Timestamp'].isnull()) ,'Last QC Pending Timestamp']=data['q']

#data=data.drop(columns=['lead_id','q'])

print(data.columns)
print(len(data[(data['Lead Status']=='Documents Rejected (Pending at Sales Team)')&(data['Last QC Pending Timestamp'].isnull())]))
print(len(data))

Index(['Merchant Cust ID', 'Lead_ID', 'Entity_Type', 'Node_id', 'Lead_Stage',
       'Lead Status', 'Created Timestamp', 'Updated Timestamp', 'Ageing',
       'Product_Context', 'Name_Match_Status', '10K/1rs MID Status',
       'Final TimeStamp', 'QC Panel Successful TimeStamp',
       'Last QC Pending Timestamp', 'TAT', 'Merchant QC TAT slab',
       'Working TimeSlab', 'New Off Time', 'New Last QC Pending Time',
       'Stage movement count', 'Rejection Ageing', 'cust_id', 'agent_team',
       'mid', 'mid_created_date', 'solution_type_level_3', 'solution_type',
       'first_qc_pending_min_created'],
      dtype='object')
0
21229

In [207]:
data['Final TimeStamp']=pd.to_datetime(data['Final TimeStamp'])
data['Last QC Pending Timestamp']=pd.to_datetime(data['Last QC Pending Timestamp'])

In [208]:
# type(data['Final TimeStamp'][0])
#print(type(data['Last QC Pending Timestamp'][0]))
print(len(data))

21229

In [209]:
data.columns

Index(['Merchant Cust ID', 'Lead_ID', 'Entity_Type', 'Node_id', 'Lead_Stage',
       'Lead Status', 'Created Timestamp', 'Updated Timestamp', 'Ageing',
       'Product_Context', 'Name_Match_Status', '10K/1rs MID Status',
       'Final TimeStamp', 'QC Panel Successful TimeStamp',
       'Last QC Pending Timestamp', 'TAT', 'Merchant QC TAT slab',
       'Working TimeSlab', 'New Off Time', 'New Last QC Pending Time',
       'Stage movement count', 'Rejection Ageing', 'cust_id', 'agent_team',
       'mid', 'mid_created_date', 'solution_type_level_3', 'solution_type',
       'first_qc_pending_min_created'],
      dtype='object')

In [210]:
data['Last QC Pending Timestamp'].head(10)

2    2025-05-02 16:54:29
5    2025-05-09 07:58:46
9    2025-05-04 17:02:53
16   2025-05-10 13:59:02
17   2025-05-08 09:55:14
19   2025-05-11 20:17:02
24   2025-05-01 11:52:20
26   2025-05-06 19:50:05
27   2025-04-30 19:09:56
30   2025-05-08 11:20:24
Name: Last QC Pending Timestamp, dtype: datetime64[ns]

In [211]:


data['Last QC Pending Timestamp']=pd.to_datetime(data['Last QC Pending Timestamp'], errors='coerce')

# Define the start and end times
#start_time = time(8, 30, 0)
#end_time = time(21, 30, 0)

start_time = time(8, 00, 0)
end_time = time(22, 00, 0)



# Apply the condition to classify as 'Intime' or 'Offtime' based on the time component of 'N'
data['Working TimeSlab'] = data['Last QC Pending Timestamp'].apply(lambda x: 'Offtime' if pd.isna(x) else ('Intime' if start_time <= x.time() <= end_time else 'Offtime'))


data['Working TimeSlab'].head(10)

2      Intime
5     Offtime
9      Intime
16     Intime
17     Intime
19     Intime
24     Intime
26     Intime
27     Intime
30     Intime
Name: Working TimeSlab, dtype: object

In [212]:
data['Working TimeSlab'].value_counts()

Working TimeSlab
Intime     18020
Offtime     3209
Name: count, dtype: int64

In [213]:
data.columns

Index(['Merchant Cust ID', 'Lead_ID', 'Entity_Type', 'Node_id', 'Lead_Stage',
       'Lead Status', 'Created Timestamp', 'Updated Timestamp', 'Ageing',
       'Product_Context', 'Name_Match_Status', '10K/1rs MID Status',
       'Final TimeStamp', 'QC Panel Successful TimeStamp',
       'Last QC Pending Timestamp', 'TAT', 'Merchant QC TAT slab',
       'Working TimeSlab', 'New Off Time', 'New Last QC Pending Time',
       'Stage movement count', 'Rejection Ageing', 'cust_id', 'agent_team',
       'mid', 'mid_created_date', 'solution_type_level_3', 'solution_type',
       'first_qc_pending_min_created'],
      dtype='object')

In [214]:
#out_time_start = pd.to_datetime("21:30").time()
#out_time_end = pd.to_datetime("23:59:59").time()
#morning_time_end = pd.to_datetime("08:30").time()

out_time_start = pd.to_datetime("22:00").time()
out_time_end = pd.to_datetime("23:59:59").time()
morning_time_end = pd.to_datetime("08:00").time()

data['Last QC Pending Timestamp'] = pd.to_datetime(data['Last QC Pending Timestamp'], errors='coerce')


# Apply conditions to create column R
def process_timestamp(row):
    timestamp = row['Last QC Pending Timestamp']
    
    # Check if timestamp is NaT
    if pd.isna(timestamp):
        return np.nan
    
    time = timestamp.time()
    
    if row['Working TimeSlab'] == 'Offtime':
        if out_time_start <= time <= out_time_end:
            # Condition 1: Increment date by 1
            return timestamp + pd.DateOffset(days=1)
        elif time < morning_time_end:
            # Condition 2: Return the same timestamp
            return timestamp
    # Condition 3: Return blank for 'intime'
    return np.nan


data['New Off Time'] = data.apply(process_timestamp, axis=1)

In [215]:
# Function to create S column based on R
def generate_s(row):
    if pd.notna(row['New Off Time']):  # If R is not NaT or blank
        # Set time to 08:30 on the same date as R
        return row['New Off Time'].replace(hour=8, minute=00, second=0)
    else:
        # If R is NaT or blank, copy the value from Q
        return row['Last QC Pending Timestamp']
    

data['New Last QC Pending Time'] = data.apply(generate_s, axis=1)

In [216]:
data.columns

Index(['Merchant Cust ID', 'Lead_ID', 'Entity_Type', 'Node_id', 'Lead_Stage',
       'Lead Status', 'Created Timestamp', 'Updated Timestamp', 'Ageing',
       'Product_Context', 'Name_Match_Status', '10K/1rs MID Status',
       'Final TimeStamp', 'QC Panel Successful TimeStamp',
       'Last QC Pending Timestamp', 'TAT', 'Merchant QC TAT slab',
       'Working TimeSlab', 'New Off Time', 'New Last QC Pending Time',
       'Stage movement count', 'Rejection Ageing', 'cust_id', 'agent_team',
       'mid', 'mid_created_date', 'solution_type_level_3', 'solution_type',
       'first_qc_pending_min_created'],
      dtype='object')

In [217]:
# Calculate the difference between L and S and format it as HH:mm:ss
def calculate_difference(row):
    if isinstance(row['New Last QC Pending Time'], pd.Timestamp) and isinstance(row['Final TimeStamp'], pd.Timestamp):
        diff = row['Final TimeStamp'] - row['New Last QC Pending Time']
        return diff  # Extract HH:mm:ss from Timedelta
    return np.nan  # Return NaN if either L or S is not a timestamp

# Apply function to create Difference column
data['TAT'] = data.apply(calculate_difference, axis=1)

In [218]:
data['TAT'].head(10)

2    0 days 00:02:00
5    0 days 01:22:11
9    0 days 00:08:27
16   0 days 00:03:25
17   0 days 00:15:50
19   0 days 12:12:53
24   0 days 00:00:59
26   0 days 00:30:05
27   0 days 13:01:25
30   0 days 00:00:29
Name: TAT, dtype: timedelta64[ns]

In [219]:
# Update TAT where it is negative to be the difference between L and N
def adjust_negative_tat(row):
    if pd.notna(row['TAT']) and row['TAT'] < pd.Timedelta(0):  # Check if TAT is negative
        if isinstance(row['Final TimeStamp'], pd.Timestamp) and isinstance(row['Last QC Pending Timestamp'], pd.Timestamp):
            return row['Final TimeStamp'] - row['Last QC Pending Timestamp']  # Calculate L - N if TAT is negative
    return row['TAT']  # Keep original TAT if not negative

# Apply function to adjust negative TAT values
data['TAT'] = data.apply(adjust_negative_tat, axis=1)

In [220]:
print(data[['Final TimeStamp','Last QC Pending Timestamp','TAT']].head(10))
print(len(data))

       Final TimeStamp Last QC Pending Timestamp             TAT
2  2025-05-02 16:56:29       2025-05-02 16:54:29 0 days 00:02:00
5  2025-05-09 09:22:11       2025-05-09 07:58:46 0 days 01:22:11
9  2025-05-04 17:11:20       2025-05-04 17:02:53 0 days 00:08:27
16 2025-05-10 14:02:27       2025-05-10 13:59:02 0 days 00:03:25
17 2025-05-08 10:11:04       2025-05-08 09:55:14 0 days 00:15:50
19 2025-05-12 08:29:55       2025-05-11 20:17:02 0 days 12:12:53
24 2025-05-01 11:53:19       2025-05-01 11:52:20 0 days 00:00:59
26 2025-05-06 20:20:10       2025-05-06 19:50:05 0 days 00:30:05
27 2025-05-01 08:11:21       2025-04-30 19:09:56 0 days 13:01:25
30 2025-05-08 11:20:53       2025-05-08 11:20:24 0 days 00:00:29
21229

In [221]:
#len(data[((data['Lead Status']=='Merchant Live') | (data['Lead Status']=='Documents Rejected (Pending at Sales Team)'))&(data['TAT'].isnull())])

data[((data['Lead Status']=='Merchant Live') | (data['Lead Status']=='Documents Rejected (Pending at Sales Team)'))&(data['TAT'].isnull())]

Empty DataFrame
Columns: [Merchant Cust ID, Lead_ID, Entity_Type, Node_id, Lead_Stage, Lead Status, Created Timestamp, Updated Timestamp, Ageing, Product_Context, Name_Match_Status, 10K/1rs MID Status, Final TimeStamp, QC Panel Successful TimeStamp, Last QC Pending Timestamp, TAT, Merchant QC TAT slab, Working TimeSlab, New Off Time, New Last QC Pending Time, Stage movement count, Rejection Ageing, cust_id, agent_team, mid, mid_created_date, solution_type_level_3, solution_type, first_qc_pending_min_created]
Index: []

In [222]:
len(data[~(((data['Lead Status'] == 'Merchant Live') | (data['Lead Status'] == 'Documents Rejected (Pending at Sales Team)')) & (data['TAT'].isnull()))])

21229

In [223]:
data = data[~(((data['Lead Status'] == 'Merchant Live') | (data['Lead Status'] == 'Documents Rejected (Pending at Sales Team)')) & (data['TAT'].isnull()))]


len(data[((data['Lead Status']=='Merchant Live') | (data['Lead Status']=='Documents Rejected (Pending at Sales Team)'))&(data['TAT'].isnull())])

0

In [224]:
def categorize_time(td):
    total_minutes = td.total_seconds() / 60  # Convert timedelta to total minutes
    if total_minutes < 2:
        return 'Leads QCed in less than 02 min'
    elif 2 <= total_minutes < 5:
        return 'Leads QCed in between 02 - 05 min'
    elif 5 <= total_minutes < 10:
        return 'Leads QCed in between 05 - 10 min'
    elif 10 <= total_minutes < 15:
        return 'Leads QCed in between 10 - 15 min'
    elif 15 <= total_minutes < 30:
        return 'Leads QCed in between 15 - 30 min'
    elif 30 <= total_minutes < 60:
        return 'Leads QCed in between 30 min - 01 hr'
    else:
        return 'leads QCed in more than 01 hr'



data.loc[(data['Lead Status']=='Merchant Live') | (data['Lead Status']=='Documents Rejected (Pending at Sales Team)'),'Merchant QC TAT slab']=data['TAT'].apply(categorize_time)

In [225]:
data['Merchant QC TAT slab'].value_counts()

Merchant QC TAT slab
Leads QCed in less than 02 min          6777
leads QCed in more than 01 hr           5054
Leads QCed in between 02 - 05 min       4126
Leads QCed in between 05 - 10 min       1900
Leads QCed in between 30 min - 01 hr    1422
Leads QCed in between 15 - 30 min       1064
Leads QCed in between 10 - 15 min        655
Name: count, dtype: int64

In [226]:
data.columns

Index(['Merchant Cust ID', 'Lead_ID', 'Entity_Type', 'Node_id', 'Lead_Stage',
       'Lead Status', 'Created Timestamp', 'Updated Timestamp', 'Ageing',
       'Product_Context', 'Name_Match_Status', '10K/1rs MID Status',
       'Final TimeStamp', 'QC Panel Successful TimeStamp',
       'Last QC Pending Timestamp', 'TAT', 'Merchant QC TAT slab',
       'Working TimeSlab', 'New Off Time', 'New Last QC Pending Time',
       'Stage movement count', 'Rejection Ageing', 'cust_id', 'agent_team',
       'mid', 'mid_created_date', 'solution_type_level_3', 'solution_type',
       'first_qc_pending_min_created'],
      dtype='object')

In [227]:
data['solution_type_level_3'].unique()

array([nan, 'diy_upgrade'], dtype=object)

In [228]:
data.loc[(data['Entity_Type']=='INDIVIDUAL') & (data['solution_type_level_3'].isna()),'solution_type']='DIY_MCO'
data.loc[(data['Entity_Type']=='INDIVIDUAL') & (~data['solution_type_level_3'].isna()),'solution_type']='DIY_ReKYC'
data.loc[~(data['Entity_Type']=='INDIVIDUAL'),'solution_type']='DIY_Upgrade'

In [229]:
data['solution_type'].unique()

array(['DIY_MCO', 'DIY_ReKYC', 'DIY_Upgrade'], dtype=object)

In [230]:
# Convert date columns to datetime
data['first_qc_pending_min_created'] = pd.to_datetime(data['first_qc_pending_min_created'], errors='coerce')

In [231]:
# Calculate the time difference (TAT) and handle NaT cases
data['end_to_end_tat'] = data['Final TimeStamp'] - data['first_qc_pending_min_created']
data['end_to_end_tat'] = data['TAT'].apply(lambda x: '' if pd.isna(x) else str(x))

In [234]:

# Categorize the time difference
def categorize_time(tat):
    if tat == '':
        return ''  # Return blank for missing TAT
    # Convert string timedelta back to timedelta object
    td = pd.to_timedelta(tat)
    total_minutes = td.total_seconds() / 60  # Convert timedelta to minutes
    if total_minutes < 2:
        return 'Leads QCed in less than 02 min'
    elif 2 <= total_minutes < 5:
        return 'Leads QCed in between 02 - 05 min'
    elif 5 <= total_minutes < 10:
        return 'Leads QCed in between 05 - 10 min'
    elif 10 <= total_minutes < 15:
        return 'Leads QCed in between 10 - 15 min'
    elif 15 <= total_minutes < 30:
        return 'Leads QCed in between 15 - 30 min'
    elif 30 <= total_minutes < 60:
        return 'Leads QCed in between 30 min - 01 hr'
    else:
        return 'Leads QCed in more than 01 hr'

# Apply the function to the DataFrame based on the conditions
conditions = data['Lead Status'].isin(['Merchant Live', 'Documents Rejected (Pending at Sales Team)'])
data.loc[conditions, 'End to End TAT slab'] = data.loc[conditions, 'end_to_end_tat'].apply(categorize_time)

In [235]:
data.head(2)

,Merchant Cust ID,Lead_ID,Entity_Type,Node_id,Lead_Stage,Lead Status,Created Timestamp,Updated Timestamp,Ageing,Product_Context,Name_Match_Status,10K/1rs MID Status,Final TimeStamp,QC Panel Successful TimeStamp,Last QC Pending Timestamp,TAT,Merchant QC TAT slab,Working TimeSlab,New Off Time,New Last QC Pending Time,Stage movement count,Rejection Ageing,cust_id,agent_team,mid,mid_created_date,solution_type_level_3,solution_type,first_qc_pending_min_created,end_to_end_tat,End to End TAT slab
2,1271751704,119b4601-12f2-4e0c-86a6-a54eacc783b7,INDIVIDUAL,156,LEAD_SUCCESSFULLY_CLOSED,Merchant Live,2025-05-02 16:46:30,2025-05-02 17:11:21,,NaN,Name Matched,10k MID created,2025-05-02 16:56:29,2025-05-02 16:56:29,2025-05-02 16:54:29,0 days 00:02:00,Leads QCed in between 02 - 05 min,Intime,NaT,2025-05-02 16:54:29,"{""PANEL_SUCCESS"":1}",NaN,1271751704,NaN,xHlWyj89555579387128,2025-05-02 16:56:41,NaN,DIY_MCO,2025-05-02 16:54:29,0 days 00:02:00,Leads QCed in between 02 - 05 min
5,1470262724,bc20cc50-1e0d-4120-96ac-cfac7dc6f96e,INDIVIDUAL,2099,PARTNER_PROFILE_CREATION_FAILURE,Merchant Live,2025-02-08 10:39:49,2025-05-09 09:22:42,Last 7 days,NaN,Name Matched,10k MID created,2025-05-09 09:22:11,2025-05-09 09:22:11,2025-05-09 07:58:46,0 days 01:22:11,leads QCed in more than 01 hr,Offtime,2025-05-09 07:58:46,2025-05-09 08:00:00,"{""PANEL_SUCCESS"":1}",NaN,1470262724,NaN,kJQCIh52247256207007,2025-05-09 09:22:17,NaN,DIY_MCO,2025-05-09 07:58:46,0 days 01:22:11,Leads QCed in more than 01 hr

In [ ]:
data.to_csv("diy_mco_data_13th May'25.csv", index=False)

In [ ]:
hzdjz

NameError: name 'hzdjz' is not defined

In [ ]:
#data.to_csv("all_flow_data_28th Oct'24.csv", index=False)

In [ ]:
sas

In [ ]:


# Convert to datetime
data['Last QC Pending Timestamp'] = pd.to_datetime(data['Last QC Pending Timestamp'])
data['Final TimeStamp'] = pd.to_datetime(data['Final TimeStamp'])

# Define active hours (08:30 AM - 09:30 PM)
active_start_time = pd.to_timedelta('08:30:00')
active_end_time = pd.to_timedelta('21:30:00')

# Function to calculate active duration for each row
def calculate_active_duration(row):
    start = row['Last QC Pending Timestamp']
    end = row['Final TimeStamp']
    
    # Check if either start or end is NaT
    if pd.isna(start) or pd.isna(end):
        return "00:00:00"  # Return 0 hours if either is NaT
    
    # Initialize total active duration
    total_active_duration = pd.Timedelta(0)
    
    # Iterate over each date from start to end
    for single_date in pd.date_range(start=start.date(), end=end.date()):
        active_start = pd.Timestamp(single_date) + active_start_time
        active_end = pd.Timestamp(single_date) + active_end_time
        
        # Determine the effective active period for this day
        effective_start = max(start, active_start)
        effective_end = min(end, active_end)

        # If there's a valid active period, add its duration
        if effective_start < effective_end:
            total_active_duration += effective_end - effective_start

    # Convert total active duration to hours
    total_hours = total_active_duration.total_seconds() / 3600
    
    # Format the hours to HH:MM:SS
    hours = int(total_hours)
    minutes = int((total_hours - hours) * 60)
    seconds = int(((total_hours - hours) * 60 - minutes) * 60)
    
    return f"{hours:02}:{minutes:02}:{seconds:02}"

# Apply the function to each row
data['TAT'] = data.apply(calculate_active_duration, axis=1)

# Display the result
print(data[['Last QC Pending Timestamp', 'Final TimeStamp', 'TAT']])
print(len(data))

In [ ]:
# data['TAT']=data['Final TimeStamp']-data['Last QC Pending Timestamp']
# data['TAT']=data['TAT'].apply(lambda x: str(x).split()[-1] if pd.notna(x) else 'NaT')
print(data.columns)
print(len(data))

In [ ]:
print(data[['Final TimeStamp','Last QC Pending Timestamp','TAT']].head(10))
print(len(data))

In [ ]:
len(data[((data['Lead Status']=='Merchant Live') | (data['Lead Status']=='Documents Rejected (Pending at Sales Team)'))&(data['TAT'].isnull())])

In [ ]:
data["TAT"]=pd.to_timedelta(data['TAT'])



print(data[['Final TimeStamp','Last QC Pending Timestamp','TAT']].head(10))

In [ ]:
type(data['TAT'][0])

In [ ]:
def categorize_time(td):
    total_minutes = td.total_seconds() / 60  # Convert timedelta to total minutes
    if total_minutes < 16:
        return 'Leads QCed in less than 15 min'
    elif 16 <= total_minutes < 36:
        return 'Leads QCed in between 15-30 min'
    elif 36 <= total_minutes < 66:
        return 'Leads QCed in between 30 min -1 hr'
    elif 66 <= total_minutes < 126:
        return 'Leads QCed in between 1 - 2 hr'
    elif 126 <= total_minutes < 186:
        return 'Leads QCed in between 2-3 hr'
    elif 186 <= total_minutes < 246:
        return 'Leads QCed in between 3-4 hr'
    else:
        return 'leads QCed in more than 4 hrs'



data.loc[(data['Lead Status']=='Merchant Live') | (data['Lead Status']=='Documents Rejected (Pending at Sales Team)'),'Merchant QC TAT slab']=data['TAT'].apply(categorize_time)

In [ ]:
print(data['Merchant QC TAT slab'].value_counts())
print(len(data))

In [ ]:
data['TAT'].head(10)

In [ ]:

# Function to convert timedelta to HH:MM:SS format with cumulative hours
def format_timedelta(td):
    total_seconds = int(td.total_seconds())
    hours, remainder = divmod(total_seconds, 3600)  # Convert total seconds to hours
    minutes, seconds = divmod(remainder, 60)
    return f'{hours:02}:{minutes:02}:{seconds:02}'  # Format as HH:MM:SS

# Apply the function to convert timedelta to HH:MM:SS
data['TAT'] = data['TAT'].apply(format_timedelta)

In [ ]:
data.loc[(data['Lead Status']!='Merchant Live') & (data['Lead Status']!='Documents Rejected (Pending at Sales Team)'),'TAT']=''

data['TAT'].head(10)

In [ ]:
data.columns

In [ ]:
data=data.drop(columns=['Working TimeSlab','New Off Time','New Last QC Pending Time','Node id'])
data.columns

In [ ]:
col=data.pop('TAT')

t=data.columns.get_loc('Merchant QC TAT slab')

data.insert(t+1,'TAT',col)

data.columns

In [ ]:
data['solution_type_level_3'].unique()
len(data)

In [ ]:
data_acup_kyc=data[data['solution_type_level_3'].isin(['ACCOUNT_UPGRADE', 'KYC_UPDATE'])]
data_mco=data[~data['solution_type_level_3'].isin(['ACCOUNT_UPGRADE', 'KYC_UPDATE'])]

In [ ]:
#raise Exception("Stop execution here")

In [ ]:
with pd.ExcelWriter("all_flow_data_21st Oct'24.xlsx") as writer:
    # Write the original dataframe to the first sheet
    data.to_excel(writer, sheet_name='All Data', index=False)
    
    # Write data filtered by Category 'A' and 'C' to the second sheet
    data_acup_kyc.to_excel(writer, sheet_name=' KYC & ACC UPGD', index=False)
    
    # Write data filtered by Category 'B' and 'D' to the third sheet
    data_mco.to_excel(writer, sheet_name='MCO', index=False)

In [ ]:
data.to_csv("all_flow_data_19th Oct'24.csv", index=False)